# Entornos virtuales

venv/
.venv/
env/

# Caché de Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Archivos de SQLite

*.db
*.sqlite3

# Archivos temporales

*.log
*.tmp

# Configuración de VS Code

.vscode/

# Configuración de PyCharm

.idea/

# Archivos del sistema

.DS_Store
Thumbs.db
